body{
    margin:0 !important;
    padding: 0 !important;
}

#hero {
    position: relative;
    height: 600px;
    overflow: hidden;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.fs-1 {
    font-size: 5rem !important;
}

.img-modal{

    width: 600px; /* Stel een vaste breedte in */
    height: 400px; /* Stel een vaste hoogte in */
    object-fit: contain; /* Zorg dat de vlag zijn verhoudingen behoudt */
    /*background-color: #f9f9f9; !* Optioneel: Achtergrondkleur voor consistentie *!*/
    display: block; /* Zorgt dat de vlag goed inline wordt weergegeven */
    margin: 0 auto; /* Centreer indien nodig */


    /*width: 600px;
    aspect-ratio: 5 / 3; !* Standaard verhouding voor vlaggen *!
    object-fit: cover;
    border: 1px solid #ddd;
    background-color: #f9f9f9;*/
}
